body {
	margin: 0px;
}

form {
	margin: 0;
}

.correct {
	color: green;
}
.wrong {
	color: red;
}

.container {
	width: 100%;
	height: 100%;
	display: block;
	position: relative;
}

.content {
	min-width: 800px;
	width: 80%;
	margin: 50px 10% 50px 10%;
	background: lightgray;
	padding: 20px 50px;
	display: block;
}

.header {
	width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.header h1 {
	display: block;
	width: 100%;
	text-align: center;
}

.links {
	display: inline-flex;
	width: 100%;
	height: 50px;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
}

.links a {
	display: block;
	font-size: 30px;
	text-decoration: none;
	color: red;
}

.links a:visited {
	color: purple;
}

div#question:hover {
	border: 2px #808080 inset;
	box-shadow: #969595 5px 5px 6px;
}

div#question {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 25px;
	border: 2px #80808014 inset;
	box-shadow: #96959538 5px 5px 6px;
	transition: border .6s, box-shadow .6s;
}

div#question span:first-child {
	width: 100%;
	height: auto;
	text-shadow: #969595 2px 2px 2px;
	font-size: 30px;
	line-height: 35px;
}

div#question span {
	display: block;
	flex-grow: 1;
	width: auto;
	height: 40px;
	font-size: 25px;
	line-height: 30px;
	position: relative;
	text-align: center;
}

div#question span input[type="radio"]:checked, div#question span input[type="radio"]:checked:hover {
	border-bottom: blue 5px inset;
}

div#question span input[type="radio"]:hover {
	border-bottom: lightblue 5px inset;
}

div#question span input[type="radio"] {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-appearance: none;
	cursor: pointer;
	margin: 0 25px;
	padding: 0;
	left: 0;
	transition: border-bottom .5s;
	border-bottom: transparent 5px inset;
}

div#name {
	display: block;
	position: relative;
	font-size: 25px;
	line-height: 25px;
}

div#name input[type="text"] {
	-webkit-appearance: none;
	background: transparent;
	border: none;
	border-bottom: 2px #424242 inset;
	width: 300px;
	font-size: 25px;
	line-height: 25px;
}

div#name input[type="text"]:focus {
	background: #ffffff6b;
}

input.send:active {
	margin: 3px 0 0 0;
}

input.send {
	-webkit-appearance: none;
	border: none;
	background: none;
	position: relative;
	cursor: pointer;
	font-size: 40px;
	line-height: 40px;
	border-radius: 25px;
	box-shadow: #424242 0 0 5px;
	margin: 0 0 3px 0;
	transition: margin .1s;
}

div#leaderboard, div#coalitions, div#branches, div#locations, div#data {
	width: 80%;
	margin: 50px auto;
	counter-reset: place;
}

div#leaderboard span.score span.name:before, div#coalitions span.score span.name:before {
	counter-increment: place;
	content: counter(place) ". ";
	display: inline-block;
	width: 50px;
}

div#leaderboard span.score, div#coalitions span.score, div#branches span.score, div#locations span.score{
	display: flex;
	justify-content: space-between;
	width: 80%;
	margin: auto;
	position: relative;
	font-size: 20px;
	line-height: 20px;
}

div#leaderboard span.score:nth-of-type(1) {
	font-size: 40px;
	line-height: 40px;
	color: gold;
	margin-bottom: 5px;
}

div#leaderboard span.score:nth-of-type(2) {
	font-size: 35px;
	line-height: 35px;
	color: silver;
}

div#leaderboard span.score:nth-of-type(3) {
	font-size: 25px;
	line-height: 25px;
	color: chocolate;
}

span.finalScore {
	display: block;
	margin: 20px 0;
	font-size: 30px;
	line-height: 30px;
}
